In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from pydataset import data
from env import get_db_url

np.random.seed(123)

In [5]:
stats.norm(40,15).cdf(50)

0.7475074624530771

In [3]:
stats.binom(618,0.10).sf(70)

0.12281969339878751

In [2]:
Î¼ =0

$ \mu=0 $

## Agenda 02/07
{[0900am, 1230pm]: ['Working on Understanding Charts exercises']}
{[0130pm, 0200pm]: ['Demo --  Understanding Charts exercises -- Good Chart + Bad Chart']
{[0230pm, 0330pm]: ['Storytelling Lesson -- Create, Project Management']}
{[0300pm, 0400pm]: ['Trello exercise', 'Storytelling Project Soft Launch']}
## Agenda 02/08
{[0900am, 1030am]: ['Tableau Tutorial']}
{[1030am, 1230pm]: ['Tableau Exercises work time']
{[0130pm, 0500pm]: ['Storytelling Project Work Time']}
## Agenda 02/09
{[0900am, 1230pm]: ['Storytelling Project Work Time']}
### Agenda 02/10
{[0900am, 1000am]: ['Marty Sixkiller -- Managing Your Professional Brand'}
{[1000am, 1200pm]: ['Storytelling Project Work Time']}
{[0130pm, 0300pm]: ['Storytelling Project Wrap up']}
{[0300pm, 0500pm]: ['Storytelling Project Presentations']}
## Agenda 02/11
Tableau Exercises Due
## {['TBD']: 
			[
			'Statistics Overview',
			'Statistics Simulations',
			Statistics Simulations Exercises
			  ]}

In [2]:
dbname='employees'
url=get_db_url(dbname)

In [3]:
pd.read_sql('''SELECT * FROM employees LIMIT 5 OFFSET 50''', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

# $ \textrm{ Hypthosesis Testing Rachel's Saintdom} $

$ H_0 = \textrm{"Rachel is not a Saint and the gift was a group effort." }$

$ H_1 = \textrm{"Saint Rachel" }$

$\textrm{True Positive : "We REJECT }H_0\textrm{ and are CORRECT, Rachel is a Saint." }$

$\textrm{True Negative : "We ACCEPT }H_0\textrm{ and are CORRECT, the sales DID NOT increase." }$

$\textrm{Type I Error : "We REJECT }H_0\textrm{ but are WRONG, the sales DID NOT increase." }$

$\textrm{Type II Error : "We ACCEPT }H_0\textrm{ but are WRONG, the sales increased." }$